* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* barra de scrol */
::-webkit-scrollbar-track { 
  background-color: transparent;
}

/* mudar cor da barra de scroll */
::-webkit-scrollbar-thumb {
  background-color: var(--gray-100);
}

:root {
  /* White */
  --white: #ffffff;

  /* Accent */
  --accent-600: #4863f7;
  --accent-500: #7878d7;

  /* Alert */
  --alert-600: #ff5c5c;

  /* Gray */
  --gray-900: #0d0d0d;
  --gray-800: #111111;
  --gray-700: #1a1a1a;
  --gray-200: #424242;
  --gray-100: #737373;
}

body {
  background-color: var(--gray-900); /* Cor de fundo */
  color: var(--white);
  font-family: "Inter", sans-serif;
}

input,
button {
  font-family: "Inter", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}
