.main {
  display: flex;
  flex-direction: column;
  flex: 1;

  gap: 32px;
  padding: 62px 124px;

  overflow-y: scroll; /* para ter scroll somente no Y */

  /* header */
  & .main-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;

    /* outline botão copiar */
    & .btn-outline {
      background: transparent;
      border: 0.5px solid var(--gray-200);

      padding: 0 16px;

      transition: background-color 0.5s; /* suavidade ao hover */

      /* hover botão copiar */
      &:hover {
        background-color: var(--gray-200);
      }
    }

    /* botões */
    & .btn {
      display: flex;
      align-items: center;
      justify-content: center; /* deixar os textos no meio (eixo x) */
      height: 44px;
      gap: 10px;

      border-radius: 6px;

      color: var(--white);

      font-size: 14px;
      font-weight: 500;

      cursor: pointer;

      & .icon {
        width: 20px;
        height: 20px;
      }
    }

    /* botão salvar */
    & .btn-primary {
      width: 150px;
      padding: 0 24px;
      background: var(--accent-600);
      border: 1px solid var(--accent-500);
      transition: opacity 0.5s;

      /* hover botão salvar */
      &:hover {
        opacity: 0.8;
      }
    }
  }

  /* Titulo: Planejamento... */
  & .prompt-title {
    font-size: 32px;
    font-weight: 600;
    outline: none;
  }

  /* Conteúdo: Me ajude... */
  & .prompt-content {
    font-size: 16px;
    color: var(--white);
    outline: none;
    line-height: 32px;
  }

  /* campos editáveis */
  & .editable-wrapper {
    position: relative;

    &::before {
      content: attr(data-placeholder);
      position: absolute;
      color: var(--gray-200);
      pointer-events: none; /* desabilita para n dar pra copiar e nem fazer nada com o placeholder */
      opacity: 0;
    }
  }

  & .is-empty::before {
    opacity: 1;
  }

  & #title-wrapper.is-empty {
    font-size: 32px;
    color: var(--gray-200);
  }
}
